.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper__input {
  width: 50vw;
  height: 20vh;
  font-size: 20px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-template-rows: repeat(5, 50px);
  grid-gap: 5px;
}

.keyboard__key {
  grid-column: span 1;

  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
  background-color: white;
  cursor: pointer;
}

.keyboard__key:active,
.keyboard__key_active {
  background-color: red;
}

.keyboard__key_two-grid-column {
  grid-column: span 2;
}

.keyboard__key_three-grid-column {
  grid-column: span 3;
}

.keyboard__key_seven-grid-column {
  grid-column: span 7;
}
